@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
  --background-color: #17153B;
  --project-background: #2E236C;
  --active-color: #C8ACD6;
  --item-color: #433D8B;
  --red-color: #e06666ff;
  --green-color: #00ab41;
}

body {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  #container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    height: 100vh;
    padding-left: 2vw;
    margin-top: 3vh;
  }

  #projects{
    background-color: var(--project-background);
    height: 100vh;
    overflow: scroll;
    border-radius: 15px;
  }

  #header{
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .project-head, .header-name, .add-project, .task-item-title, .priority-button, #add-task-button, .delete-project
  ,.new-project-confirm, .project-input{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
  }
  .project-head, .add-project{
    font-size: clamp(1rem, 2.5vw, 2rem);
    margin-bottom: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .add-project{
    background-color: var(--active-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .new-project-confirm{
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    font-size: clamp(0.5rem, 2vw, 2rem);
    margin-bottom: 10%;
  }

  .new-project-name{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-input{
    width: 80%;
    margin-bottom: 5%;
    background-color: var(--active-color);
    border: none;
    border-radius: 15px;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .confirm-project{
    background-color: var(--green-color);
    padding: 5%;
    border-radius: 15px;
  }

  .cancel-project{
    background-color: var(--red-color);
    padding: 5%;
    border-radius: 15px;
  }

  .confirm-project:hover{cursor: pointer;}
  .cancel-project:hover{cursor: pointer;}


  .add-project:hover{
    cursor: pointer;
    background-color: var(--background-color);
  }

  .header-name{
    font-size: clamp(1rem, 4.5vw, 5rem);
    font-weight: 300;
  }

  .project-head:hover{
    background-color: var(--active-color);
    cursor: pointer;
    border-radius: 5px;
  }

  .add-project-button, .sisyphus-logo, .item-closer > img, .add-task > img, .edit-check-buttons{
    filter: invert(100%) sepia(0%) saturate(7437%) hue-rotate(118deg) brightness(101%) contrast(113%);

  }
 
  .sisyphus-logo{
    width: 50%;
    height: auto;
  } 

  #tasks{
    overflow: scroll;
    justify-content: center;
    align-items: center;    
  }

  .task-item{
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-bottom: 5vh;
    background-color: var(--item-color);
    border-radius: 15px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

  .item-closer > img{
    display: flex;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    
  }

  .item-closer > img:hover{
    cursor: pointer;
  }

  .task-item-title{
    margin-top: 1%;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .task-item-description{
    background-color: var(--active-color);
    display: flex;
    align-self: center;
    justify-content: center;
    width: 70%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 30%;
    margin-top: 3%;
    overflow: scroll;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    border-radius: 10px;
  }

  .task-item-bottom-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .priority-button{
    background-color: var(--red-color);
    width: 70%;
    height: 80%;
    align-content: center;
    text-align: center;
    margin-top: 7%;
    border-radius: 15px;
    font-weight: 500;
  }

  .priority-button:hover{
    cursor: pointer;
  }

  .edit-check-buttons{
    display: flex;
    gap: 5%;
    padding-top: 5%;
  }

  .edit-button > img:hover, .check-box > img:hover{
    cursor: pointer;
  }


  .add-task{
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-bottom: 5vh;
    background-color: var(--active-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .add-task:hover{
    cursor: pointer;
    background-color: var(--project-background);
  }

  .delete-project{
    width: 80%;
    height: 10%;
    margin-left: 10%;
    margin-bottom: 5vh;
    background-color: var(--red-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(30px, 4.5vw, 5rem);
    font-weight: 300;
  }

  .delete-project:hover{cursor: pointer;}


  #add-task-button{
    font-size: clamp(30px, 4.5vw, 5rem);
    font-weight: 300;
  }


  @media only screen and (min-width: 1200px) {
    .task-item{
      height: 50%;
    }
  }

  
  @media only screen and (max-width: 750px) {
    .task-item{
      height: 30%;
    }
  }
  

  